DEBUG=1
ALLOWED_HOSTS=*
DATABASE_URL=postgres://username:password@localhost/apple_store
SMTP_HOST=host@example.com
SMTP_PASSWORD=password
STRIPE_PUBLISHABLE_KEY=stripe_public_key
STRIPE_SECRET_KEY=stripe_secret_key
LOCAL_RABBITMQ=admin, password, port
EC2_USER=ubuntu
DOMAIN=public_domain
STATIC_URL=/staticfiles/