django
gunicorn
django-environ
djangorestframework-simplejwt
django-filter
django-celery-beat
django-celery-results
psycopg2-binary
whitenoise
django-allauth
stripe
pika
django-structlog
Jinja2
django-ratelimit
pytest-django
factory_boy
Faker
pytest-factoryboy